<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>SpaceX</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href={{ url_for('static', path='/main.css') }}>
        <link rel="icon" type="image/x-icon" href={{ url_for('static', path='/favicon.png') }}>
    </head>
    <body>
        <nav>
            <div class="nav-bar">
                <a class="nav-bar-item logo" href="" style="background: url(https://spacex-microsite.netlify.app/images/spacex-logo-big.png); background-position: 0 -12px; background-size: cover; width: 180px; height: 80px;"></a>
                <a class="nav-bar-item" href="#">Новости</a>
                <a class="nav-bar-item" href="#">Рейсы</a>
                <a class="nav-bar-item" href="#">Тех. поддержка</a>
                <a class="nav-bar-item more" href="#">...</a>
            </div>
        </nav>
        <div class="container-fullscreen" style="background-image: linear-gradient(0deg, rgb(10 10 14 / 85%) 0%, transparent 60%), url(https://wallpapersmug.com/download/3840x2400/45a4cb/rocket-launch.jpg);">
            <div class="container-fullscreen-form">
                <h1 style="text-align: center; margin-bottom: 2em;">ОШИБКА!</h1>
                <p style="text-align: center;">Что-то помешало обработке вашего запроса!</p>
            </div>
        </div>
    </body>
</html>